aclocal.m4
autom4te.cache
Makefile.in
*.orig
*.xem*
*.rej
*.patch
.deps
.libs
*.o
*.lo
*.la
libtool
*.pc
config.log
config.status
config
configure
.cproject
.project
.settings
.dlls
dcetestdec
.executables
.interfaces
.libraries*
*.mak
*/baseimage/package/
*/baselib/package/
platform/ti/dce/baseimage/out/
platform/ti/dce/baselib/lib/
bldcfg.mk
platform/ti/dce/baseimage/package/
platform/ti/dce/baselib/package/
platform/ti/dce/baselib/BASELIB.h
src/ti/framework/dce/lib/
src/ti/framework/dce/package/
src/ti/utils/lib/
src/ti/utils/package
